section {
		background-image: url("hero.jpg");
		height: 800px;
}

nav {

	background-color: inherit;

}
.land{
	padding-top: 100px;
	text-align: center;
}

br {
   display: block;
   margin:0;
}

.mouse{
	padding-top: 100px;
}
.filter{
	height: 100px;
	background-color: #737365;
	padding-top: 30px;
}
.products {
background-color: red;

float: right;
color: white;
margin-right: 30px;
}
form {
	margin-left: 20px
	color:black;
}
form p  {

	 display: inline;
	 margin-left: 20px;
}

.men{
	text-align: center;
}
.line{
	margin-top: 28px;
	width:75%;
}
.line2{
	margin-top: 28px;
	width: 100%;
}
.women{
	text-align: left;
}
.items {
	height: 350px;
}
.card {
	height: 300px;
	width: 300px;
	background-color:#F6F9F9;
}
.card-title{

}
.about{
	background-image: url(about.jpg);
	height: 400px;
	padding-top: 100px;
  text-align: center;
	color: white;
}
footer.page-footer {
  margin-top: 20px;
  padding-top: 20px;
  background-color: #1B1919;
    }


 }
 ul li  {

    display: inline;
}

 }
 form {
 	list-style-type: inline;
 }

 .spanning {
 	font-size: 2em;
 	font-weight: 900;
 	color: #52492A;
 }




}
